.container {
    position: fixed;
    inset: 0px;
    width: 600px;
    height: auto;
    max-width: 100vw;
    max-height: 400px;
    margin: auto;
    border: 1px #254fe6 solid;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
}

.calender_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calender_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    width: 100%;
    margin: 16px 0;
    color: #0537ec;
    font-weight: 700;
    font-size: 22px;
}

.calender_days_data {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;    
}

.calender_days_data button, .today_button {
    background-color: #d8dff8;
    border-radius: 15px;
    padding: 5px 0;
    border: 1px #254fe6 solid;
    color: #0537ec;
    cursor: pointer;
    font-size: 18px;
}

.today_button {
    padding: 5px 10px;
}

.calender_days_data button:hover, .today_button:hover {
    background-color: #9baff7;
}

.calender_days_data button.text-muted {
    opacity: 0.3;
    pointer-events: none;
}

.today_data {
    color: red !important;
    font-weight: bold;
}
